<h1></h1>
<div class="d-flex flex-wrap mx-5 px-5" data-controller="create-assignment">
  <div id="card-camps-one">
    <%= render 'assignments/camp', upcoming_assignments: @upcoming_assignments, past_assignments: @previous_assignments %>
  </div>
  <div class="container" id='calendar'>
    <%= month_calendar(events: @assignments) do |date, assignments| %>
      <%= date.day %>
      <% assignments.each_with_index do |assignment,index| %>
        <div class="color-change">
          <p style="  background-color: <%= ['#f8b79f', 'lightblue', '#c690ee', 'lightpurple'][index]%>; height: 4px"></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="create-camp">
    <%# <%= link_to "Create Camp", camps_path, class: "btn" %>
    <button class="btn" data-create-assignment-target="create"
    data-action="click->create-assignment#show">Create Camp</button>
  </div>
  <div class="create-ass-form">
    <%= render "camps/form"%>
  </div>
</div>
