<h1></h1>
<div class="d-flex flex-wrap mx-5 px-5" data-controller="create-assignment">
  <div id="card-camps-one">
    <%= render 'assignments/camp', assignments: @assignments %>
  </div>
  <div class="container" id='calendar'>
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>
  <div class="create-camp">
    <%# <%= link_to "Create Camp", camps_path, class: "btn" %>
    <button class="btn" data-create-assignment-target="create"
    data-action="click->create-assignment#show">Create Camp</button>
  </div>
  <div class="create-ass-form">
    <%= render "camps/form"%>
  </div>
</div>
