<div class="form-container mt-4 me-5 d-none" data-create-assignment-target="form">
  <div class="form-row">
    <h1 class="form-title">New Camp</h1>
  </div>
  <div class="form-row inline-text">
    <%= simple_form_for @camp, data: {action: "submit->create-assignment#submitForm"} do |f| %>
      <%= f.input :camp_name, label: false, placeholder: "Camp Name" %>
      <%= f.input :address, label: false, placeholder: "City, Country"  %>
      <div class="form-row form-date">
      </div>
      <div class="d-flex">
        <div class="flex-fill">
          <%= f.input :start_date, as: :date, label: false, html5: true %>
        </div>
        <div class="flex-fill">
          <%= f.input :end_date, as: :date, label: false, html5: true %>
        </div>
      </div>
      <div class="d-flex flex-fill gap-1">
        <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false, placeholder: "Add photos" %>
        <%= f.input :required_number_volunteers, label: false, placeholder: "Number of volunteers" %>
      </div>
      <div class="form-row check-box">
        <%= f.input :tag_list, label: "Required Positions:", as: :check_boxes, collection: ["Crew Leader"], item_wrapper_class: 'tag-item', include_hidden: false, input_html: {class: "tag-selector check-box"} %>
      </div>
      <div class="form-row check-box">
        <%= f.input :tag_list, label: "Required Station Leader Roles:", as: :check_boxes, collection: [ ["Story Telling", "Station Leader: Story Telling"], ["Songs", "Station Leader: Songs"], ["Snacks", "Station Leader: Snacks"], ["Crafts", "Station Leader: Crafts"], ["Games", "Station Leader: Games"]], item_wrapper_class:  'tag-item', include_hidden: false, input_html: {class: "tag-selector check-box"} %>
      </div>
      <div class="form-row description">
        <%= f.input :description, as: :text, label: false, placeholder: "Camp description"%>
      </div>
      <div class="button-to-right">
        <%= f.button :submit, "submit" %>
      </div>
    <% end %>
  </div>
</div>
