<h1>New camp</h1>
<%= simple_form_for @camp do |f| %>
  <%= f.input :camp_name %>
  <%= f.input :address %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :required_roles %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "submit" %>
<% end %>
