<div class="container">
  <div id="map"
         data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<div class="courses">
  <%  @camps.each do |camp| %>
    <div class="course">
      <div class="preview" style="background-image: url(<%= camp.photos.attached? ? cl_image_path(camp.photos.first.key) : 'https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'%>);">
      </div>
      <div class="coursa-info">
        <div class="progressc">
          <div class="progress"></div>
          <span class="progress-text">
            6/9 <i class="fa-solid fa-user"></i> Volunteers
          </span>
        </div>
        <h2><%= camp.camp_name %></h2>
        <p><%= camp.description.truncate(200) %></p>
        <button class="btn">Continue</button>
      </div>
    </div>
  <% end %>
</div>
