<div class="container d-flex  mobile-reverse">
  <div class="searching-form m-3"><%= form_with url: camps_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a camp by location"
  %>
      <%= submit_tag "Search", class: "search ms-3" %>
    <% end %>
  </div>
  <div id="map"
         data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="courses">
    <h1 class="m-3">All Upcoming Camps</h1>
    <%  @camps.each do |camp| %>
      <div class="course m-5">
        <div class="preview" style="background-image: url(<%= camp.photos.attached? ? cl_image_path(camp.photos.first.key) : camp.images%>);">
        </div>
        <div class="coursa-info">
          <div class="progress-container" >
            <div class="progress">
              <div class="progress-bar <%= camp.required_number_volunteers <= camp.assignments.where(status: 'admin_confirm').count - 1 ? 'bg-info': 'progress-bar-striped progress-bar-animated' %>" role="progressbar" aria-label="Animated striped example" aria-valuenow="<%= camp.assignments.where(status: 'admin_confirm').count - 1 %>" aria-valuemin="0" aria-valuemax="100%" style="width: <%= (camp.assignments.where(status: 'admin_confirm').count - 1).fdiv(camp.required_number_volunteers) * 100 %>%;"></div>
            </div>
            <span class="progress-text">
              <% if camp.assignments.count <= 0 %>
                <p>0</p>
              <% else %>
                <%= camp.assignments.where(status: 'admin_confirm').count - 1 %>/<%= camp.required_number_volunteers %> <i class="fa-solid fa-user"></i> volunteers
              <% end %>
            </span>
          </div>
          <h6><%= camp.camp_name %></h6>
          <p><%= camp.description.truncate(100) %></p>
          <p><strong><%= camp.start_date.strftime('%b %d, %Y') %> - <%= camp.end_date.strftime('%b %d, %Y') %></strong></p>
          <%= link_to "Continue", camp_path(camp), class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>
