<% content_for :meta_title, "#{@camp.camp_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @camp.description %>
<% content_for :meta_image, @camp.photos.attached? ? cl_image_path(@camp.photos.first.key) : 'https://images.unsplash.com/photo' %>
<div class="flex-item" style="position: relative;">
  <div class="groupHomeHeader stripe border--none">
    <div class="bounds bounds--wide">
      <div class="flex flex--column atLarge_flex--row groupHomeHeader-content">
        <div class="d-flex justify-content-center gap-5 mx-5 mt-5 mb-3">
          <% if @camp.newsfeed_post?%>
            <%# <div class="row"> %>
            <div class="card-home-photos">
              <div class="home-maine-photo", style="background-image: url(<%= cl_image_path(@camp.photos.first.key) %>);">
              </div>
              <div class="home-photos">
                <div class="photo">
                  <% @camp.photos[1..-1].each do |photo| %>
                    <%= cl_image_tag(photo.key) %>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="card-category card-image col-8" style="background-image: linear-gradient(45deg, rgba(0,0,0,0.2), rgba(0,0,0,0)), url(<%= @camp.photos.attached? ? cl_image_path(@camp.photos.first.key) : 'https://images.unsplash.com/photo'%>)">
            </div>
          <% end %>
          <div class="col-4">
            <div class="flex-item d-flex justify-content-between">
              <% if @camp.newsfeed_post? %>
                <div class="news-head">
                  <h3>Camp finished ❤️</h3>
                </div>
              <% else %>
                <div class="d-flex justify-content-end" style="width: 100%">
                  <div class="progress-container-show pt-2">
                    <div class="progress">
                      <div class="progress-bar <%= @camp.required_number_volunteers <= @camp.assignments.where(status: 'admin_confirm').count - 1 ? 'bg-info': 'progress-bar-striped progress-bar-animated' %>" role="progressbar" aria-label="Animated striped example" aria-valuenow="<%= @camp.assignments.where(status: 'admin_confirm').count - 1 %>" aria-valuemin="0" aria-valuemax="100%" style="width: <%= (@camp.assignments.where(status: 'admin_confirm').count - 1).fdiv(@camp.required_number_volunteers) * 100 %>%;"></div>
                    </div>
                    <span class="progress-text">
                      <% if @camp.assignments.count <= 0 %>
                        <p>0</p>
                      <% else %>
                        <%= @camp.assignments.where(status: 'admin_confirm').count - 1 %>/<%= @camp.required_number_volunteers %> <i class="fa-solid fa-user"></i>
                      <% end %>
                    </span>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="flex-item">
              <h1 class="show-h1"> <%= @camp.camp_name %></h1>
              <h5 class="card-p pt-1"><i class="fa-solid fa-location-dot" style="color: #3bacb6;"></i> <%= @camp.address %></h5>
              <h5 class="card-p pt-1 pb-2"><i class="fa-solid fa-calendar-week" style="color: #3bacb6;"></i> <%= @camp.start_date.strftime('%b %d, %Y') %> - <%= @camp.end_date.strftime('%b %d, %Y') %></h5>
              <% if @camp.newsfeed_post?%>
                <p class="pt-4" id="newsfeed-length" style="width: 100%"> 💚 <%= @camp.newsfeed_post %> 💚 </p>
              <% end %>
              <% if @camp.user != current_user %>
                <div class="assignment-status-show my-4">
                  <% if @camp.newsfeed_post?%>
                    <div></div>
                  <% else %>
                    <% if @previous_assignments %>
                      <button class="btn btn-light applied-btn" disabled> Applied </button>
                    <% else %>
                      <div class="d-flex justify-content-center py-2 ps-2 my-2 border-top" style="text-align: center;">
                      </div>
                      <div class="d-flex justify-content-center">
                        <%= simple_form_for [@camp, @assignment] do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: 'pending'} %>
                          <div style="text-align: center;" class="tag-font"><%= f.input :role, label: "How would you like to help? (Choose one)", as: :radio_buttons, collection: [["Crew Leader", "Crew Leader"], ["Story Telling", "Station Leader: Story Telling"], ["Songs", "Station Leader: Songs"], ["Snacks", "Station Leader: Snacks"], ["Crafts", "Station Leader: Crafts"], ["Games", "Station Leader: Games"]], item_wrapper_class:  'tag-item', include_hidden: false, input_html: {class: "tag-selector"} %></div>
                          <div class="d-flex justify-content-end" style=""><%= f.submit 'Apply', class: 'btn cta-button' %></div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="camp-information">
  <div class="camp-container container pb-4">
    <div class="camp-card content d-flex gap-3">
      <div class="camp-inner-text">
        <h4 class="card-p pt-4"> Camp Information</h4>
        <p class="pt-3" id="card-description"><i class="fa-solid fa-file-lines" style="color: #3bacb6;"></i> <%= @camp.description %></p>
        <%# <p class="pt-2"><i class="fa-solid fa-users" style="color: #3bacb6;"></i> Required Roles: <%= @camp.tag_list.split.join(', ') %>
      </div>
      <div class="individual-map" id="map"
         data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<div class="camp-container container mt-2 d-flex justify-content-around">
  <% if @camp.newsfeed_post? %>
    <div class="row">
      <h2 class="border-bottom p-2 m-2" style="text-align: center;">Camp Director</h2>
      <div class="d-flex justify-content-center">
        <div class="m-2 d-flex align-items-center" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseWidth-<%= @camp.user.id %>" role="button" aria-expanded="false" aria-controls="collapseWidthExample">
          <div>
            <%= image_tag @camp.user.avatar_pic, class: "camp-owner-avatar mt-2 mb-2" %>
          </div>
        </div>
        <div class="collapse collapse-horizontal owner-box rounded" id="collapseWidth-<%= @camp.user.id %>">
          <div class="card card-body d-flex justify-content-center" style="width: 300px;">
            <p><%= @camp.user.first_name %>  <%= @camp.user.last_name %></p>
            <p><i class="fa-solid fa-envelope" style="color: #3bacb6;"></i>  <%= @camp.user.email %></p>
            <p><i class="fa-solid fa-earth-americas" style="color: #3bacb6;"></i>  <%= @camp.user.location %></p>
            <p><i class="fa-regular fa-flag" style="color: #3bacb6;"></i>  <%= @camp.user.language %></p>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row roles-border">
      <h2 class="p-2 m-2" style="text-align: center;">Camp Director</h2>
      <div class="d-flex justify-content-center">
        <div class="m-2 d-flex align-items-center" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseWidth-<%= @camp.user.id %>" role="button" aria-expanded="false" aria-controls="collapseWidthExample">
          <div>
            <%= image_tag @camp.user.avatar_pic, class: "camp-owner-avatar mt-2 mb-2" %>
          </div>
        </div>
        <div class="collapse collapse-horizontal owner-box rounded" id="collapseWidth-<%= @camp.user.id %>">
          <div class="card card-body d-flex justify-content-center" style="width: 300px;">
            <p class="m-1 volunteer_name"><%= @camp.user.first_name %>  <%= @camp.user.last_name %></p>
            <p class="m-1"><i class="fa-solid fa-envelope" style="color: #3bacb6;"></i>  <%= @camp.user.email %></p>
            <p class="m-1"><i class="fa-solid fa-earth-americas" style="color: #3bacb6;"></i>  <%= @camp.user.location %></p>
            <p class="m-1"><i class="fa-solid fa-comment-dots" style="color: #3bacb6;"></i>  <%= @camp.user.language %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if @camp.newsfeed_post? %>
    <div>
      <h2 class="border-bottom p-2 m-2" style="text-align: center;">Volunteer Team List</h2>
      <div class="d-flex flex-wrap justify-content-center">
        <% @camp.assignments.each do |assignment| %>
          <div class="rounded-circle" data-assignment-id="<%= assignment.id %>">
            <%= render "shared/vcard", user: assignment.user, assignment: assignment, camp: @camp %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
  </div>
  <div class="camp-container container">
    <div class="row" data-controller="sortable-roles">
      <h2 class="border-bottom p-2 m-2">Volunteer Team List</h2>
      <div class="col-12 d-flex flex-wrap" id="all" data-sortable-roles-target="group">
        <% @camp.assignments.where.not(status: "admin_confirm").each do |assignment| %>
          <div class="rounded-circle" data-assignment-id="<%= assignment.id %>">
            <%= render "shared/vcard", user: assignment.user, assignment: assignment, camp: @camp %>
          </div>
        <% end %>
      </div>
      <% if @camp.newsfeed_post?%>
        <div></div>
      <% else %>
        <% if @camp.user == current_user %>
          <div class="mb-4">
            <div class="roles-cards">
              <% @camp.tags.each do |role| %>
                <div data-sortable-roles-target="group" data-role-name="<%= role.name %>" class="p-2 m-2 roles-border">
                  <h3><%= role.name %></h3>
                  <% @camp.assignments.where(role: role.name, status: "admin_confirm").each do |assignment| %>
                    <div class="rounded-circle" style="display: inline-block" data-assignment-id="<%= assignment.id %>">
                      <%= render "shared/vcard", user: assignment.user, assignment: assignment, camp: @camp %>
                    </div>
                  <% end %>
                  <% if @camp.assignments.where(role: role.name).empty? %>
                    <p class="unassigned-role">*No one assigned to this role yet</p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% if @camp.newsfeed_post?%>
  <div class="d-flex">
    <%= render 'camps/form_comment', camp: @comment.camp, comment: @comment %>
    <% @camp.comments.each do |comment| %>
      <%= render 'camps/comment', comment: comment %>
    <% end %>
  </div>
<% end %>
