<div class="flex-item" style="position: relative;">
  <div class="groupHomeHeader stripe border--none">
    <div class="bounds bounds--wide">
      <div class="flex flex--column atLarge_flex--row groupHomeHeader-content">
        <div class="d-flex justify-content-around m-5">
          <div class="card-category card-image col-8" style="background-image: linear-gradient(45deg, rgba(0,0,0,0.2), rgba(0,0,0,0)), url(<%= @camp.images %>)">
          </div>
          <div class="col-4">
            <div class="flex-item mb-1">
              <% if @camp.required_number_volunteers <= @camp.required_number_volunteers %>
                <p class="camp-card-completed"><%= @camp.required_number_volunteers %>/<%= @camp.required_number_volunteers %> <i class="fa-solid fa-user volunteer-icon"></i> Volunteers</p>
              <% else %>
                <p class="camp-card-not-completed"><%= @camp.required_number_volunteers %><i class="fa-solid fa-user volunteer-icon"></i></p>
              <% end %>
            </div>
            <div class="flex-item">
              <h1 class="show-h1"> <%= @camp.camp_name %></h1>
            </div>
            <div class="flex-item">
              <p class="card-p"><i class="fa-solid fa-location-dot"></i> <%= @camp.address %></p>
              <p class="card-p"><i class="fa-solid fa-calendar-week"></i> <%= @camp.start_date %> - <%= @camp.end_date %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stripe">
  <div class="bounds">
    <div class="flex flex--row flex--alignCenter">
      <div class="border-top">
        <div class="d-flex justify-content-between p-4 ms-4 me-4">
          <p class="card-p"> Camp Information</p>
          <button class="btn cta-button">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="camp-information">
  <div class="camp-container container">
    <div class="camp-card content">
      <div class="camp-inner-text mt-4">
        <p><i class="fa-solid fa-envelope"></i> <%= @camp.director_email %></p>
        <p><i class="fa-solid fa-file-lines"></i> <%= @camp.description.truncate(500) %></p>
      </div>
    </div>
  </div>
  <div class="camp-container container">
    <div class="cards-space row">
      <div class="col-12 cards-space">
        <% @camp.assignments.each do |assignment| %>
          <div class="avatar">
            <%= render "shared/vcard", user: assignment.user %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="assignment-status">
      <% @assignments.each do |assignment| %>
        <% if assignment.pending? %>
          <%= simple_form_for assignment do |f| %>
            <%= f.input :status, input_html: { value: 'apply'} %>
            <%= f.submit 'Apply', class: 'btn btn-info apply' %>
          <% end %>
          <%= simple_form_for assignment do |f| %>
            <%= f.input :status, input_html: { value: 'decline'} %>
            <%= f.submit 'Decline', class: 'btn btn-light decline' %>
          <% end %>
        <% else %>
          <% if assignment.status == "apply" %>
            <p class="status green"><%= assignment.status %>ed</p>
          <% elsif assignment.status == "decline" %>
            <p class="status red"><%= assignment.status %>d</p>
          <% else %>
            <p class="status"><%= assignment.status %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
