<div class="flex-item" style="position: relative;">
  <div class="groupHomeHeader stripe border--none">
    <div class="bounds bounds--wide">
      <div class="flex flex--column atLarge_flex--row groupHomeHeader-content">
        <div class="d-flex justify-content-around m-5">
          <div class="card-category card-image col-8" style="background-image: linear-gradient(45deg, rgba(0,0,0,0.2), rgba(0,0,0,0)), url(<%= @camp.photos.attached? ? cl_image_path(@camp.photos.first.key) : 'https://images.unsplash.com/photo'%>)">
          </div>
          <div class="col-4">
            <div class="flex-item mb-1">
              <% if @camp.assignments.count - 1 < @camp.required_number_volunteers %>
                <p class="camp-card-not-completed"><%= @camp.assignments.count - 1 %>/<%= @camp.required_number_volunteers %> <i class="fa-solid fa-user volunteer-icon"></i> <%= (@camp.required_number_volunteers + 1 ) - @camp.assignments.count %> Volunteers Needed </p>
              <% else %>
                <p class="camp-card-completed"><%= @camp.assignments.count - 1 %>/<%= @camp.required_number_volunteers %> <i class="fa-solid fa-user-check"></i></p>
                <p class="camp-card-completed">Your camp is Ready to Go!</p>
              <% end %>
            </div>
            <div class="flex-item">
              <h1 class="show-h1"> <%= @camp.camp_name %></h1>
            </div>
            <div class="flex-item">
              <p class="card-p"><i class="fa-solid fa-location-dot"></i> <%= @camp.address %></p>
              <p class="card-p"><i class="fa-solid fa-calendar-week"></i> <%= @camp.start_date.strftime('%b %d, %Y') %> - <%= @camp.end_date.strftime('%b %d, %Y') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stripe">
  <div class="bounds">
    <div class="">
      <div class="border-top">
        <div class="camp-container container">
          <div class="d-flex justify-content-between py-4">
            <p class="card-p"> Camp Information</p>
            <% if @camp.user != current_user %>
              <div class="assignment-status">
                <% if @previous_assignment %>
                  <button class="btn btn-light applied-btn" disabled> Applied </button>
                <% else %>
                  <%= simple_form_for [@camp, @assignment] do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'pending'} %>
                    <%= f.submit 'Apply', class: 'btn cta-button' %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="camp-information">
  <div class="camp-container container pb-4">
    <div class="camp-card content d-flex gap-3">
      <div class="camp-inner-text">
        <p class="pt-4" id="card-description"><i class="fa-solid fa-file-lines"></i> <%= @camp.description %></p>
        <p class="pt-2"><i class="fa-solid fa-users"></i> Required Roles: <%= @camp.tag_list.split.join(', ') %></p>
      </div>
      <div class="individual-map" id="map"
         data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<div class="camp-container container d-flex">
  <div class="row">
    <h2 class="mt-3">Camp Created by</h2>
    <div class="d-flex">
      <div class="m-2 d-flex align-items-center" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseWidth-<%= @camp.user.id %>" role="button" aria-expanded="false" aria-controls="collapseWidthExample">
        <div>
          <%= image_tag @camp.user.avatar_pic, class: "camp-owner-avatar mt-2 mb-2" %>
        </div>
      </div>
      <div class="collapse collapse-horizontal owner-box rounded" id="collapseWidth-<%= @camp.user.id %>">
        <div class="card card-body d-flex justify-content-center" style="width: 300px;">
          <p><%= @camp.user.first_name %> <%= @camp.user.last_name %></p>
          <p><i class="fa-solid fa-envelope"></i> : <%= @camp.user.email %></p>
          <p><i class="fa-solid fa-earth-americas"></i> : <%= @camp.user.location %></p>
          <p><i class="fa-regular fa-flag"></i> : <%= @camp.user.language %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="camp-container container">
  <div class="row" data-controller="sortable-roles">
    <h2 class="border-bottom p-2 m-2">Volunteer Team List</h2>
    <div class="col-12 d-flex flex-wrap" id="all" data-sortable-roles-target="group">
      <% @camp.assignments.where(role: nil).each do |assignment| %>
        <div class="rounded-circle" data-assignment-id="<%= assignment.id %>">
          <%= render "shared/vcard", user: assignment.user, assignment: assignment %>
        </div>
      <% end %>
    </div>
    <div class="mb-4">
      <div class="roles-cards">
        <% @camp.tags.each do |role| %>
          <div data-sortable-roles-target="group" data-role-name="<%= role.name %>" class="p-2 m-2 roles-border">
            <h2><%= role.name %></h2>
            <% @camp.assignments.where(role: role.name).each do |assignment| %>
              <div class="rounded-circle" data-assignment-id="<%= assignment.id %>">
                <%= render "shared/vcard", user: assignment.user, assignment: assignment %>
              </div>
            <% end %>
            <% if @camp.assignments.where(role: role.name).empty? %>
              <p class="unassigned-role">*No one assigned to this role yet</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
