<div class="courses-container">
  <div class="course">
    <div class="course-preview">
      <h2>Location</h2>
      <p>Location</p>
      <a href="#">View all volunteers </a>
    </div>
    <div class="coursa-info">
      <div class="progress-container" >
        <div class="progress">
          <div class="progress-bar <%= camp.required_number_volunteers <= camp.assignments.count - 1 ? 'bg-info': 'progress-bar-striped progress-bar-animated' %>" role="progressbar" aria-label="Animated striped example" aria-valuenow="<%= camp.assignments.count - 1 %>" aria-valuemin="0" aria-valuemax="100%" style="width: <%= (camp.assignments.count - 1).fdiv(camp.required_number_volunteers) * 100 %>%;"></div>
        </div>
        <span class="progress-text">
          <% if camp.assignments.count <= 0 %>
            <p>0</p>
          <% else %>
            <%= camp.assignments.count - 1 %>/<%= camp.required_number_volunteers %> <i class="fa-solid fa-user"></i> volunteers
          <% end %>
        </span>
      </div>
      <h6>Camp Name</h6>
      <h2>Camp Name</h2>
      <p>Description</p>
      <button class="btn">Continue</button>
    </div>
  </div>
</div>
