<div class="volunteer-card">
  <div class="round m-2" class="btn" data-bs-toggle="collapse" style="background-image: url(<%= user.avatar_pic %>)", alt="user_picture" href="#collapse-<%= user.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
    <div class="collapse" id="collapse-<%= user.id %>">
      <div class="card inner-card">
        <p>Name: <%= user.first_name %> <%= user.last_name %></p>
        <p>Country: <%= user.location %></p>
        <p>Language: <%= user.location %></p>
        <p>Training: <%= user.training %></p>
        <p>Past Roles: <%= user.past_roles %></p>
        <p>Certifications: <%= user.past_roles %></p>
      </div>
    </div>
  </div>
</div>
