<% if user == camp.user %>
<% else %>
  <div class="volunteer-card">
    <div class="round m-2 border-color" class="btn" data-bs-toggle="collapse" style="background-image: url(<%= user.avatar_pic %>)", alt="user_picture" href="#collapse-<%= user.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
      <div class="positioning-icon">
        <% if assignment.status == "pending" %>
        <% elsif assignment.status == "admin_confirm" %>
          <i class="fa-solid fa-check confirm-icon"></i>
        <% end %>
      </div>
    </div>
    <div class="collapse" id="collapse-<%= user.id %>">
      <div class="card inner-card d-flex flex-row align-items-center">
        <div>
          <p class="m-1 volunteer_name"><%= user.first_name %> <%= user.last_name %></p>
          <p class="m-1"><i class="fa-solid fa-earth-americas" style="color: #3bacb6;"></i>  <%= user.location %></p>
          <p class="m-1"><i class="fa-solid fa-comment-dots" style="color: #3bacb6;"></i>  <%= user.language %></p>
          <p class="m-1"><i class="fa-solid fa-envelope" style="color: #3bacb6;"></i>  <%= user.email %></p>
          <p class="m-1"><i class="fa-solid fa-book-open" style="color: #3bacb6;"></i> Trained <%= user.training %></p>
          <p class="mt-2 mb-1 border-top" style="text-align: center;"> Preferred role </p>
          <p class="m-1"><i class="fa-solid fa-clipboard-check" style="color: #3bacb6;"></i>  <%= assignment.role %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
