<% if user == camp.user %>
<% else %>
  <div class="volunteer-card">
    <div class="round m-2 border-color" class="btn" data-bs-toggle="collapse" style="background-image: url(<%= user.avatar_pic %>)", alt="user_picture" href="#collapse-<%= user.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
      <div class="positioning-icon">
        <% if assignment.status == "pending" %>
        <% elsif assignment.status == "admin_confirm" %>
          <i class="fa-solid fa-check confirm-icon"></i>
        <% else %>
          <i class="fa-solid fa-xmark decline-icon"></i>
        <% end %>
      </div>
    </div>
    <div class="collapse" id="collapse-<%= user.id %>">
      <div class="card inner-card d-flex flex-row align-items-center">
        <div>
          <p><%= user.first_name %> <%= user.last_name %></p>
          <p><i class="fa-solid fa-earth-americas"></i> : <%= user.location %></p>
          <p><i class="fa-regular fa-flag"></i> : <%= user.language %></p>
          <p><i class="fa-solid fa-envelope"></i> : <%= user.email %></p>
          <p>Training: <%= user.training %></p>
          <p>Preferable Role: <%= assignment.role %></p>
          <p>Certifications: <%= user.certifications %></p>
        </div>
        <div class="status-actions ms-2">
          <% if policy(assignment).update? %>
            <%= simple_form_for assignment do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'admin_confirm'} %>
              <%= f.submit 'Accept', class: 'btn btn-info accept' %>
            <% end %>
            <%= simple_form_for assignment do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'admin_decline'} %>
              <%= f.submit 'Decline', class: 'btn btn-light decline' %>
            <% end %>
          <% elsif assignment.status == "user_apply" %>
            <p class="border-color p-2">Applied!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
