<div class="d-flex flex-column newsfeed-card-new mb-3 margin-right-0 col-6">
  <div>
    <div class="news-card-new" style="background-image: url(<%= camp.photos.attached? ? cl_image_path(camp.photos.first.key) : camp.images %>";>
    </div>
    <div class="newsfeed-card-infos mt-2">
      <h2><%= camp.camp_name %></h2>
      <p><%= camp.newsfeed_post&.truncate(150) %></p>
      <small>
        <p class="upper-left-date"><%= camp.start_date.strftime('%b %d, %Y')%> - <%= camp.end_date.strftime('%b %d, %Y')%></p>
        <p class="upper-right-location"><%= camp.address %></p>
      </small>
    </div>
  </div>
</div>
